@import url("https://fonts.googleapis.com/css2?family=Borel&family=Caveat&family=Dancing+Script:wght@500&family=Edu+SA+Beginner&family=Montserrat&family=Poppins&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer components {
  .header_top_icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] cursor-pointer hover:bg-accent hover:text-white;
  }

  .navbar_link:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }

  .navbar_link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 100%;
    left: 0;
    scale: 0;
    background-color: #ff8f9c;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar_link:hover::after {
    scale: 1;
  }
}
